- @another_products.each do |an|
  li.product.last
    = link_to an.images.first.file_url do
      = image_tag an.images.first.file_url(:thumb)
    h2.woocommerce-loop-product__title= link_to an.name
    span.price
      span.woocommerce-Price-currencySymbol $
      = an.price
    = render "products/add_cart"
